@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
}

:root {
  --headerHeight: 80px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
}

.appHeader {
  height: var(--headerHeight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  background: linear-gradient(115deg, #ffffff -7.12%, #ffffff 29.61%, #ff975c 29.62%, #dc03ff 103.07%);
}

.appHeader__title {
  color: #f97474;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
}

.leaflet-container {
  height: calc(100% - var(--headerHeight));
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leaflet-control {
  border: none;
}

.leaflet-control-zoom span {
  color: #ff6363;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 3px solid #f97474 !important;
  background-clip: padding-box;
}

.leaflet-popup-content-wrapper {
  border: 3px solid #f97474;
}

.leaflet-popup-tip {
  background-color: #f97474 !important;
  border-radius: 3px;
}

.leaflet-popup-close-button span {
  color: #f97474;
}

.toggleButton {
  width: auto;
  height: 2rem;
  border-radius: 6px;
  border: 3px solid #f97474;
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #ff6363;
  font-weight: bolder;
  background: white;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.toggleButton:hover {
  border-color: #e14f4f;
  color: #e14f4f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  cursor: pointer;
}

.toggleButton__text {
  margin-right: 10px;
  font-size: 1rem;
}

.toggleButton__icon {
  height: 1rem;
  width: auto;
  fill: #ff6363;
}

.form {
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  padding: 1rem;
}

.form__header__title {
  font-size: 2rem;
  color: #0a0a0a;
}

.form__header__title--highlight {
  color: #ff6363;
}

.form__header__button {
  width: 32px;
  background: none;
}

.form__header__button svg {
  color: #ff6363;
  width: 100%;
  height: auto;
}

.form__header__button svg:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #e14f4f;
  cursor: pointer;
}

.form__prompt {
  margin-bottom: 1rem;
  text-align: center;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  padding: 1rem;
}

.form__footer__button {
  width: 6rem;
  height: 2rem;
  border-radius: 6px;
  border: 3px solid #f97474;
  color: #ff6363;
  font-weight: bolder;
  background: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
}

.form__footer__button:hover {
  border-color: #e14f4f;
  color: #e14f4f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(10px);
          transform: translate(10px);
  cursor: pointer;
}

.form__subform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__subform__select-box {
  width: auto;
  height: 40px;
  border: 3px solid #f97474;
  font-weight: bolder;
  color: #ff6363;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
}

.form__subform__select-box:hover {
  border-color: #e14f4f;
  color: #e14f4f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

.form__subform__icon-wrapper {
  border: none;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__subform__icon-wrapper__container {
  width: 60px;
  height: 60px;
}

.form__subform__icon-wrapper--icon {
  width: 40px;
  fill: #0a0a0a;
}

.form__subform__icon-wrapper--icon:hover {
  width: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.form__subform__verify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__subform__verify--icon {
  width: 64px;
}

.form__subform__verify--button {
  width: auto;
  min-width: 6.5rem;
  height: auto;
  padding: 5px;
  margin-top: 1rem;
  border-radius: 6px;
  border: 3px solid #f97474;
  color: #ff6363;
  font-weight: bolder;
  font-size: 0.8rem;
  background: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.form__subform__verify--button:hover {
  border-color: #e14f4f;
  color: #e14f4f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(10px);
          transform: translate(10px);
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */